
/*  
 * LAYOUT VARIABLES 
 */

// Topbar 
$topbar-outside-bg: 				#ddd !default;
$topbar-bg: 						$nocolor !default;
$topbar-color: 						$text-color !default;
$topbar-font-size: 					12px;
$topbar-height:                     auto !default;

// header main
$headermain-outside-bg :			#f8f8f8 !default; 
$headermain-bg: 			 		$nocolor !default;
$headermain-color:					$text-color !default;

// Footer
$footer-outside-bg :				$nocolor !default;
$footer-bg: 						$nocolor !default;
$footer-color: 						#787878 !default;